.App {
  text-align: center;
}

.results {
  display: flex;
  margin-top: 20px;
}

.movies-panel {
  width: 75%;
  height: auto;
  border: 1px solid gray;
}

.movies-panel ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
}

.details-panel {
  width: 25%;
  border: 1px solid gray;
}

.results-item {
  width: 250px;
  height: 300px;
  margin-bottom: 30px;
}

.movie-poster {
  width: 90%;
  height: 80%;
}

.results-item.selected {
  border: 2px solid blue;
}