---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=7f9f34b2&page=1&plot=full&r=json&s=Fight%20Club&y=1999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 08 Mar 2021 14:00:50 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Search":[{"Title":"Fight Club","Year":"1999","imdbID":"tt0137523","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BMmEzNTkxYjQtZTc0MC00YTVjLTg5ZTEtZWMwOWVlYzY0NWIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg"}],"totalResults":"1","Response":"True"}'
  recorded_at: Mon, 08 Mar 2021 14:00:50 GMT
recorded_with: VCR 6.0.0
