---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=7f9f34b2&page=1&plot=full&r=json&s=Fight%20Club&y=1999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 02 Jul 2023 21:47:01 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Search":[{"Title":"Fight Club","Year":"1999","imdbID":"tt0137523","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_SX300.jpg"},{"Title":"Fight
        Club (1999)","Year":"1999","imdbID":"tt20236210","Type":"movie","Poster":"N/A"},{"Title":"Fight
        Club (1999) - Movie Review","Year":"1999","imdbID":"tt26985850","Type":"movie","Poster":"N/A"}],"totalResults":"3","Response":"True"}'
  recorded_at: Sun, 02 Jul 2023 21:47:02 GMT
recorded_with: VCR 6.2.0
